.modal.fade#changePasswordModal{ tabindex: '-1', role: 'dialog', 'aria-labelledby': 'changePasswordLabel', 'aria-hidden': 'true' }
  .modal-dialog{ role: 'document' }
    .modal-content
      = render 'shared/errors', object: current_user
      = form_for current_user, id: 'edit-password-form', url: { controller: 'users', action: 'update_password' }, method: :patch do |f|
        .modal-header
          %button.close{ type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close' }
            %span{ 'aria-hidden': 'true' } &times;
          %h4.modal-title#changePasswordLabel Change Password
        .modal-body
          = password_field_tag :old_password, nil, class: 'form-control change-password-field', |
            placeholder: 'Old Password', required: true
          = f.password_field :password, id: 'password', class: 'form-control change-password-field', |
            placeholder: 'New Password', required: true, oninput: 'checkConfirmation();'
          = f.password_field :password_confirmation, id: 'password_confirmation', |
            class: 'form-control change-password-field', placeholder: 'New Password Confirmation', required: true, |
            oninput: 'checkConfirmation();'
        .modal-footer
          = f.submit 'UPDATE', id: 'update_password_button', class: 'btn btn-success', disabled: true