.modal.fade#changePasswordModal{ edit_password_modal_options }
  .modal-dialog{ role: 'document' }
    .modal-content
      = form_for current_user, edit_password_form_options do |f|
        .modal-header
          %button.close{ close_modal_button_options }
            %span{ 'aria-hidden': 'true' } &times;
          %h4.modal-title#changePasswordLabel Change Password
        .modal-body
          = old_password_field
          = edit_password_field(f)
          = edit_password_conf_field(f)
        .modal-footer
          = update_password_button(f)