.modal.fade#newUserModal{ tabindex: '-1', role: 'dialog', 'aria-labelledby': 'newUserModalLabel', 'aria-hidden': 'true' }
  .modal-dialog{ role: 'document' }
    .modal-content
      = form_for @user do |f|
        .modal-header
          %button.close{ type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close' }
            %span{ 'aria-hidden': 'true' } &times;
          %h4.modal-title#newUserModalLabel New User
        .modal-body
          .row
            .col-xs-6= first_name_field(f)
            .col-xs-6= last_name_field(f)
          .row
            .col-xs-12= username_field(f)
          .row
            .col-xs-6= user_password_field(f)
            .col-xs-6= password_confirmation_field(f)
        .modal-footer
          = user_submit_button(f, 'CREATE ACCOUNT')
          = user_cancel_button