%h1 Change Password
%br
= render 'shared/errors', object: current_user

= form_for current_user, url: { action: 'update_password' }, method: :patch do |f|
  %table
    %col{ width: '300' }
    %tr
      %td.new_account= password_field_tag :old_password, nil, class: 'form-control', placeholder: 'Old Password', required: true
    %tr
      %td.new_account= f.password_field :password, class: 'form-control', placeholder: 'New Password', required: true
    %tr
      %td.new_account= f.password_field :password_confirmation, class: 'form-control', placeholder: 'New Password Confirmation', required: true
  %br
  = f.submit 'UPDATE', class: 'btn btn-success'
  = link_to 'CANCEL', root_path, class: 'btn btn-outline-danger'