%h1 Edit Basic Information
%br
= render 'shared/errors', object: current_user

= form_for current_user, url: { action: 'update_basic_information' }, method: :patch do |f|
  %table
    %col{ width: '200' }
    %col{ width: '200' }
    %tr
      %td.new_account= f.text_field :first_name, class: 'form-control', placeholder: 'First Name', required: true
      %td.new_account= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name', required: true
    %tr
      %td.new_account{ colspan: '2' }= f.text_field :username, class: 'form-control', placeholder: 'Username', required: true
  %br
  = f.submit 'UPDATE', class: 'btn btn-success'
  = link_to 'CANCEL', root_path, class: 'btn btn-danger btn-outline'