%tr#edit_gift
  %td
    = name_field(f)
    = url_field(f)
    = description_field(f)
  %td.edit-gift-container{ colspan: '2' }
    = price_field(f)
    %span.save-cancel-buttons
      = submit_button(f)
      = cancel_button