.card.gift-form
  .card-header
    = name_field(f)
    = url_field(f)
    = price_field(f)
    = hidden_field_tag :family_id, @family.id
    = gift_submit_button
    = gift_cancel_button
  .card-body
    = description_field(f)