- if editing(gift)
  = render partial: 'edit', locals: { f: f, gift: gift }
- else
  %tr[gift]
    %td
      = gift_name(gift)
      = gift.description

    %td.text-xs-right= gift_price(gift)

    - if @user != current_user
      - if gift.purchased
        %td= purchased_by(gift)

      - else
        %td.text-xs-right= mark_as_purchased(gift)

    - else
      %td.text-xs-right.edit-delete-icons
        = gift_edit(gift)
        = gift_delete(gift)