%tr
  %td
    - unless gift.url.blank?
      = link_to gift.name, gift.full_url
    - else
      = gift.name
    - unless gift.description.blank?
      %br
      = gift.description

  - if !gift.price.blank?
    %td.text-right= number_to_currency(gift.price)
  - else
    %td

  - if @user != current_user
    - if gift.purchased
      - if gift.purchaser_id == current_user.id
        %td
          = form_for gift, url: gift_path(gift), method: :patch do |form|
            = form.hidden_field :purchased, value: false
            = form.hidden_field :purchaser_id, value: nil
            = button_tag(type: 'submit', class: 'btn btn-success') do
              %i.glyphicon.glyphicon-ok
              Purchased by You
      - elsif gift.purchaser_id
        %td.text-success.text-nowrap
          %i.glyphicon.glyphicon-ok
          Purchased by #{ gift.purchaser.first_name } #{ gift.purchaser.last_name }
      - else
        %td.text-success
          %i.glyphicon.glyphicon-ok
          Purchased

    - else
      %td
        = form_for gift, url: gift_path(gift), method: :patch do |form|
          = form.hidden_field :purchased, value: true
          = form.hidden_field :purchaser_id, value: current_user.id
          = form.submit 'Mark as Purchased', class: 'btn btn-default'

  - else
    %td.text-right
      = link_to edit_gift_path(gift) do
        %i.glyphicon.glyphicon-cog