- if editing(gift)
  #edit-gift= render partial: 'fields', locals: { f: f, gift: gift }
- else
  .card[gift]
    .card-header
      = gift_name(gift)

      %span.float-xs-right
        = gift_price(gift)

        - if @user != current_user
          - if gift.purchaser_id
            = purchased_by(gift)
          - else
            = mark_as_purchased(gift)
        - if can_edit_gift?
          = gift_edit(gift)
          = gift_delete(gift)

    .card-body
      = gift_description(gift)