%h1 Edit #{ @gift.name }
%br
= render 'shared/errors', object: @gift

= form_for @gift do |form|
  = render partial: 'fields', locals: { f: form }
  %br
  = form.submit 'UPDATE GIFT', class: 'btn btn-success'
  = link_to 'CANCEL', user_gifts_path(@user), class: 'btn btn-danger'
  = link_to gift_path(@gift), method: :delete, class: 'delete-gift' do
    %i.glyphicon.glyphicon-trash
    DELETE GIFT