.hidden-md-up.users-back
  = link_to users_path do
    %i.fa.fa-chevron-left
    Users

- if current_user?(@user)
  %h1 Your Gifts
- else
  %h1 #{@user.first_name}'s Gifts

%br
- if params[:render_new] and can_edit_gift?
  = form_for [@user, @gift] do |form|
    = render partial: 'gift', collection: @gifts, locals: { f: form }
    #new-gift= render partial: 'fields', locals: { f: form }
- elsif params[:render_edit] and can_edit_gift?
  = form_for @gift do |form|
    = render partial: 'gift', collection: @gifts, locals: { f: form }
- else
  - if @gifts.count > 0
    = render @gifts
  - elsif current_user?(@user)
    %p You have not added any gifts yet!
  - else
    %p #{@user.first_name} has not added any gifts yet!

  - if can_edit_gift?
    = add_gift_button