.hidden-md-up.users-back
  = link_to users_path do
    %i.fa.fa-chevron-left
    Users

- if @user == current_user
  %h1 Your Gifts
- else
  %h1 #{@user.first_name}'s Gifts

%br
- if params[:render_new]
  = form_for [@user, @gift] do |form|
    = render partial: 'gift', collection: @gifts, locals: { f: form }
    = render partial: 'fields', locals: { f: form }
- elsif params[:render_edit]
  = form_for @gift do |form|
    = render partial: 'gift', collection: @gifts, locals: { f: form }
- else
  - if @gifts.count > 0
    = render @gifts
  - elsif @user == current_user
    %p You have not added any gifts yet!
  - else
    %p #{@user.first_name} has not added any gifts yet!

  - if @user == current_user
    = render partial: 'new_gift_button'