.hidden-md-up.users-back
  = link_to users_path do
    %i.fa.fa-chevron-left
    Users

- if @user == current_user
  %h1 Your Gifts
- else
  %h1 #{@user.first_name}'s Gifts

%br
- if @gifts.count > 0
  - if @user == current_user
    - if params[:render_new]
      = form_for [@user, @gift] do |form|
        = render partial: 'gift', collection: @gifts, locals: { f: form }
        = render partial: 'fields', locals: { f: form }
    - elsif params[:render_edit]
      = form_for @gift do |form|
        = render partial: 'gift', collection: @gifts, locals: { f: form }
    - else
      = render @gifts
      = render partial: 'new_gift_button'

  - else
    = render @gifts
- elsif @user == current_user
  - if params[:render_new]
    = form_for [@user, @gift] do |form|
      = render partial: 'gift', collection: @gifts, locals: { f: form }
      = render partial: 'fields', locals: { f: form }
  - else
    %p You have not added any gifts yet!
    = render partial: 'new_gift_button'

- else
  %p #{@user.first_name} has not added any gifts yet!