%nav.navbar.navbar-dark.bg-primary
  - if current_user
    = link_to 'Giftlet', users_path, class: 'navbar-brand'
    %span.tag.tag-warning.beta-tag-navbar.float-xs-left
      BETA
    %ul.nav.navbar-nav
      %li.nav-item.dropdown.float-xs-right
        %a.nav-link.dropdown-toggle{ href: '#', id: 'navbar-dropdown', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false' }
          %span.hidden-xs-down= current_user.fullname
        .dropdown-menu.dropdown-menu-right{ 'aria-labelledby': 'navbar-dropdown' }
          %a.dropdown-item.hand-icon{ 'data-toggle': 'modal', 'data-target': '#editBasicInfoModal' }
            %i.fa.fa-user
            &nbsp;
            Edit Basic Information
          %a.dropdown-item.hand-icon{ 'data-toggle': 'modal', 'data-target': '#changePasswordModal' }
            %i.fa.fa-lock
            &nbsp;
            Change Password
          .dropdown-divider
          = link_to about_path, class: 'dropdown-item' do
            %i.fa.fa-info-circle
            &nbsp;
            About Giftlet
          .dropdown-divider
          = link_to logout_path, id: 'logout', class: 'dropdown-item', method: :delete do
            %i.fa.fa-sign-in
            &nbsp;
            Log Out
      %li.nav-item.float-xs-right
        = image_tag 'default_user.png', alt: 'User', class: 'user-picture'
    = render 'users/edit_basic_information'
    = render 'users/edit_password'
  - else
    = link_to 'Giftlet', root_path, class: 'navbar-brand'
    %span.tag.tag-warning.beta-tag-navbar.float-xs-left
      BETA
    %span.navbar-text.float-xs-right
      - if @enable_sign_up
        %a.btn.btn-link{ 'data-toggle': 'modal', 'data-target': '#loginModal' } Log In
        %a.btn.btn-info{ 'data-toggle': 'modal', 'data-target': '#newUserModal' } Sign Up
      - else
        %a.btn.btn-info{ 'data-toggle': 'modal', 'data-target': '#loginModal' } Log In
