.collapse.navbar-collapse#bs-example-navbar-collapse-1
  %ul.nav.navbar-nav.navbar-right
    - if current_user
      %li.dropdown
        %a.dropdown-toggle{ href: '#', 'data-toggle': 'dropdown', role: 'button' }
          = current_user.fullname
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to user_gifts_path(current_user) do
              %i.glyphicon.glyphicon-th-list
              &nbsp;
              View Your Gifts
          %li.divider{ role: 'separator' }
          %li
            = link_to edit_basic_information_path do
              %i.glyphicon.glyphicon-user
              &nbsp;
              Edit Basic Information
          %li
            = link_to edit_password_path do
              %i.glyphicon.glyphicon-lock
              &nbsp;
              Change Password
          %li.divider{ role: 'separator' }
          %li
            = link_to logout_path, method: :delete do
              %i.glyphicon.glyphicon-log-in
              &nbsp;
              Log Out
    - else
      %p.navbar-text You are not logged in.