!!!
%html
  %head
    %title Giftlet
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-dark.bg-primary
      - if current_user
        = link_to 'Giftlet', users_path, class: 'navbar-brand'
      - else
        = link_to 'Giftlet', root_path, class: 'navbar-brand'
      = render 'layouts/navbar'

    .main.container-fluid
      - flash.each do |type, message|
        %div{ class: "alert alert-#{type} alert-dismissible fade in", role: 'alert' }
          %button.close{ type: 'button', 'data-dismiss': 'alert', 'aria-label': 'Close' }
            %span{ 'aria-hidden': 'true' } &times;
          = message
      = yield