!!!
%html
  %head
    %title Giftlet
    = favicon_link_tag       'giftlet_icon.ico'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    = csrf_meta_tags
  %body
    = render 'layouts/navbar'

    - if @hide_sidebar
      = render 'layouts/content'
    - else
      .sidebar
        = render 'layouts/sidebar'
      .content
        = render 'layouts/content'